$primary: #fd4100;
$primary-hover: #9e2f09;
$secondary: #ffffff;
$third: #ffd9cc;
$fourth: #828282;
$fifth: #333333;
$sixth: #ffece6;
$seventh: #000000;

.authorization {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background 1s ease;

  .auth {
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 1010;
    animation: slideIn 0.7s ease-out;
    background-color: rgba($color: $secondary, $alpha: 0.85);
    border-radius: 10px;
    box-shadow: 0 0 7px 5px rgba($color: $sixth, $alpha: 1);
    .top {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 20px;
      span {
        font-size: 20px;
      }
      &::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px;
        width: 90%;
        height: 1px;
        background-color: $fourth;
      }
    }
    .body {
      width: 100%;
      padding: 0 20px;
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        div {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 5px;
          label {
            font-size: 15px;
          }
          input {
            width: 100%;
            height: 45px;
            background-color: $secondary;
            border: 1px solid $fourth;
            outline: none;
            border-radius: 5px;
            padding: 10px;
          }
          input.ng-invalid.ng-dirty {
            border: 1px solid rgb(255, 0, 0);
          }
        }
        button {
          width: 100%;
          height: 45px;
          border-radius: 5px;
          background-color: $primary;
          color: $secondary;
          border: 0;
          transition: 0.3s ease;
          cursor: pointer;
          font-weight: bold;
          font-size: 16px;
          &:hover {
            background-color: $primary-hover;
          }
        }
      }
    }
    .foot {
      width: 100%;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        font-size: 15px;
        span {
          color: $primary;
          cursor: pointer;
          transition: 0.3s ease;
          font-size: 15px;
          padding-left: 5px;
          &:hover {
            color: $primary-hover;
          }
        }
      }
    }
  }

  .register {
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 1010;
    animation: slideIn 0.7s ease-out;
    background-color: rgba($color: $secondary, $alpha: 0.85);
    border-radius: 10px;
    box-shadow: 0 0 7px 5px rgba($color: $sixth, $alpha: 1);
    .top {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 20px;
      span {
        font-size: 20px;
      }
      &::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px;
        width: 90%;
        height: 1px;
        background-color: $fourth;
      }
    }
    .body {
      width: 100%;
      padding: 0 20px;
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .scroll {
          width: 100%;
          max-height: 250px;
          overflow-y: scroll;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          padding: 5px;
          div {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;
            label {
              font-size: 15px;
            }
            input {
              width: 100%;
              height: 45px;
              background-color: $secondary;
              border: 1px solid $fourth;
              outline: none;
              border-radius: 5px;
              padding: 10px;
            }
            .roleSelect {
              position: relative;
              select {
                width: 100%;
                height: 45px;
                background-color: $secondary;
                border: 1px solid $fourth;
                outline: none;
                border-radius: 5px;
                padding: 10px;
                cursor: pointer;
                appearance: none;
                option {
                  transition: background-color 0.3s ease, color 0.3s ease;
                  &:hover,
                  &:focus {
                    background-color: $primary;
                    color: $fourth;
                  }
                }
              }
              i {
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
                transition: transform 0.3s ease;
              }
            }
            input.ng-invalid.ng-dirty {
              border: 1px solid rgb(255, 0, 0);
            }
          }
        }
        button {
          width: 100%;
          height: 45px;
          border-radius: 5px;
          background-color: $primary;
          color: $secondary;
          border: 0;
          transition: 0.3s ease;
          cursor: pointer;
          font-weight: bold;
          font-size: 16px;
          &:hover {
            background-color: $primary-hover;
          }
        }
      }
    }
    .foot {
      width: 100%;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        font-size: 15px;
        color: $primary;
        cursor: pointer;
        transition: 0.3s ease;
        &:hover {
          color: $primary-hover;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .authorization {
    .auth,
    .register {
      max-width: unset;
      width: 90%;
    }
  }
}
