<nav>
  <div class="logo" routerLink="/home">
    <div>
      <span>OurAuto</span>
    </div>
    <span>.Ge</span>
  </div>
  <div class="menu">
    <div class="search">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="search" placeholder="ძებნა" />
    </div>
    <div class="addCar">
      <div>
        <i class="fa-solid fa-plus"></i>
      </div>
      <span>დამატება</span>
    </div>
    <div class="auth" routerLink="/auth">
      <img src="user.svg" alt="" />
      <span>შესვლა</span>
    </div>
  </div>
</nav>
