$primary: #fd4100;
$primary-hover: #9e2f09;
$secondary: #ffffff;
$third: #ffd9cc;
$fourth: #828282;
$fifth: #333333;
$sixth: #ffece6;
$seventh: #000000;

.authNav {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  background-color: rgba($color: $secondary, $alpha: 0.5);
  .logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $primary;
    width: 130px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    div {
      background-color: $secondary;
      width: 80px;
      height: 30px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        font-weight: bold;
        font-size: 21px;
        color: $seventh;
      }
    }
    span {
      font-weight: bold;
      font-size: 21px;
      color: $secondary;
    }
  }
  .menu {
    span {
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s ease;
      &:hover {
        color: $primary;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .authNav {
    padding: 0 20px;
  }
}
